<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php-shopmed-api/

    # Redirect all requests to index.php in the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
